---
import { Icon } from 'astro-icon/components'

type Props = { size?: number }
const { size = 32 } = Astro.props
---

<a href="https://cephid.bandcamp.com/" target="_blank" rel="noreferrer">
  <span class="sr-only">Listen to Cephid on BandCamp</span>
  <Icon name="fa6-brands:bandcamp" width={size} height={size} />
</a>
<a href="https://open.spotify.com/artist/1N3tjnpUE4ZQqPqR4M5d2R" target="_blank" rel="noreferrer">
  <span class="sr-only">Listen to Cephid on Spotify</span>
  <Icon name="fa6-brands:spotify" width={size} height={size} />
</a>
<a href="https://mastodonmusic.social/@cephid" target="_blank" rel="noreferrer">
  <span class="sr-only">Follow Cephid on Mastodon</span>
  <Icon name="fa6-brands:mastodon" width={size} height={size} />
</a>
<a href="https://instagram.com/cephid.world" target="_blank" rel="noreferrer">
  <span class="sr-only">Follow Cephid on Instagram</span>
  <Icon name="fa6-brands:instagram" width={size} height={size} />
</a>
<a href="https://facebook.com/cephid.world" target="_blank" rel="noreferrer">
  <span class="sr-only">Follow Cephid on Facebook</span>
  <Icon name="fa6-brands:facebook" width={size} height={size} />
</a>
<a href="https://bsky.app/profile/cephid.bsky.social" target="_blank" rel="noreferrer">
  <span class="sr-only">Follow Cephid on Twitter</span>
  <Icon name="fa6-brands:bluesky" width={size} height={size} />
</a>
